body{
  background-color: #f2f2f2;
  text-align: center;
}
a:link{
           color: red;
       }
a:hover{
           color: blue;
       }
a:active{
           color: green;
       }

.box {
  
  position : absolute;    
    width    : 800px;
    height   : 200px;
    left     : 50%;
    top      : 50%;
    margin-left : -400px; /* half of the width  */
    margin-top  : -100px; /* half of the height */
}

.btn-primary {
  background-color: white;;
  border-color: #05699a;
  color: #05699a;
}

.quote {
  font-size: 3.5em;
  color: #05699a;
  font-family: sans;
}
#footer {
    position:fixed;
    bottom:0;
    font-size: .8em;
}
